// Reset relevant styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  img: {
    white-space: pre;
  }
}

// Primary areas

body {
  font-family: $body-font;
  background-color: $body-background;
}

// Simple grid container layout
// with <main>, <header>, and <footer> as direct container children

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $max-width;
}

main, footer {
  margin: 0 100px;
}

main {
  background-color: $main-background;
}

main a, footer a {
  text-decoration: none;
  color: $headline-color;

  &:hover {
    border-bottom: 2px solid $headline-color;
    // text-decoration: underline;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.image-single, .image-pair {
  img {
    display: block;
    max-width: $images-width;
    margin: 30px auto 5px auto;
  }
  p {
    margin-bottom: 75px;
    padding: 10px 0;
    text-align: center;
    font-size: .8rem;
    font-style: italic;
    line-height: 1.4;
  }
}

.image-pair {
  max-width: $images-width;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  .image1, .image2 {
    width: 48%;
    order: 1;
    align-self: center;
  }

  .caption1, .caption2 {
    width: 48%;
    order: 2;
    align-self: top;
  }
}

// Footer

footer {
  padding: 80px 0 50px 0;
  font-size: .8rem;
  background-color: $main-background;

  p {
    font-size: .8rem;
    color: $footer-text-color;
    padding: 5px 0;
    text-align: center;
    font-style: italic;
  }

  a {
    border-bottom: 2px solid $headline-color;

    &:hover {
      font-weight: bold;
    }

  }
}

// Headings and paragraphs

h1 {
  font-family: $fbt-font;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 80px 0 10px 0;
  text-transform: uppercase;
  text-align: center;
  color: $headline-color;
  letter-spacing: 5px;
}

h2 {
  font-family: $fbt-font;
  font-size: 1.2rem;
  font-weight: 100;
  padding: 0 0 30px 0;
  text-transform: uppercase;
  text-align: center;
  color: $body-text;
  letter-spacing: 2px;
}

h3 {
  max-width: $main-width;
  margin: 20px auto 0 auto;
  font-size: 1rem;
  font-weight: normal;
  padding: 10px 0 0 50px;
  text-transform: uppercase;
  color: $body-text;
  letter-spacing: 2px;
}

p {
  max-width: 800px;
  margin: 0 auto;
  font-size: .9rem;
  font-weight: 100;
  padding: 15px 50px;
  color: $body-text;
  line-height: 1.7;
  letter-spacing: 1px;
}

// Spans for opening titles of sections and for in-paragraph styling

span.intro {
  font-family: $fbt-font;
  text-transform: uppercase;
}

span.ital {
  font-style: italic;
}


blockquote {
  margin: 0;
  p {
    margin: 0 auto;
    padding: 20px 100px 20px 100px;
    font-size: .9rem;
    font-style: italic;
    font-weight: 100;
    line-height: 1.4;
  }
}

// YouTube embed

.videoWrapper {
    position: relative;
    width: 100%;
    margin: 20px auto 30px auto;
    padding-bottom: 56.25%;

    .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}
