@media screen and (max-width: 1024px) {
  body {
    background: $main-background;
  }

  main, header, footer {
    margin: 0;
  }

  header {
    position: relative;
    margin: 0 30px;
  }

  footer {
    p {
      font-size: .6rem;
    }
  }

  .container-home {
    img {
      width: 350px;
      margin: 0 auto;
    }
    h4 {
      margin-top: 20px;
      font-size: .9rem;
    }
  }

  .home-text {
    display: block;
    padding-right: 20px;
    margin-left: -25px;

    .home-caption {
      padding-left: 55px;
    }

    .home-caption::before {
      content: "Photo above:";
      display: block;
    }
  }

  h1 {
    padding: 0 0 20px 30px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: left;
  }

  h2 {
    padding-left: 30px;
    font-size: 1rem;
    text-align: left;
  }

  h3 {
    padding: 10px 15px 0 30px;
    font-size: .9rem;
  }

  h4 {
    font-size: .8rem;
    padding-left: 30px;
  }

  #btn-menu {
    display: block;
    width: 65px;
    padding: 3px 0;
    margin-top: 20px;
    letter-spacing: 2px;
    color: $body-text;
    text-align: center;
  }

  nav {
    background: $main-background;

    ul {
      display: none;
      width: 250px;
      margin: 0 auto 30px auto;
    }

    a {
      display: block;
      padding: 10px;
    }
  }

  input[type=checkbox]{
    display: none;
  }

  input[type=checkbox]:checked ~ nav > ul {
    display: block;
  }

  p {
    font-size: 1rem;
    padding: 10px 10px 10px 30px;
    color: $body-text;
    letter-spacing: 1px;
  }

  .main-slider-container {
    margin: 20px 0 0 0;
  }

  .splide__slide img {
    width: 80%;
  }

  .image-single, .image-pair {
    img {
      width: 100%;
    }
    p {
      margin: 0 20px;
      font-size: .7rem;
    }
  }

  p.blkquote {
    margin-left: 30px;
    padding: 20px 30px 20px 20px;
    border-left: 3px solid black;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.3;
  }

}
