@media screen and (max-width: 1024px) {
  body {
    background: $main-background;
    width: 100vw;
  }

  main, header, footer {
    margin: 0;
  }

  header {
    position: relative;
    margin: 0 30px;
  }

  footer {
    p {
      font-size: .6rem;
    }
  }

  .container-home {
    img {
      width: 350px;
      margin: 0 auto;
    }
    h4 {
      margin-top: 20px;
      font-size: .9rem;
    }
  }

  .home-text {
    display: block;
    padding-right: 20px;
    margin-left: -25px;

    .home-caption {
      padding-left: 55px;
    }

    .home-caption::before {
      content: "Photo above:";
      display: block;
    }
  }

  h1 {
    padding: 0 0 20px 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: left;
  }

  h2 {
    padding-left: 15px;
    font-size: 1rem;
    text-align: left;
  }

  h3 {
    padding: 10px 15px 0 15px;
    font-size: .9rem;
  }

  h4 {
    font-size: .8rem;
    padding-left: 15px;
  }

  #btn-menu {
    display: block;
    width: 65px;
    padding: 0;
    margin: 10px 0 0 -15px;
    letter-spacing: 2px;
    color: $body-text;
    text-align: center;
  }

  nav {
    background: $main-background;
    border-bottom: none;
    padding: 0 0 20px 0;

    ul {
      display: none;
      width: 250px;
      margin: 0 auto 30px auto;
    }

    a {
      display: block;
      padding: 10px;
    }
  }

  input[type=checkbox]{
    display: none;
  }

  input[type=checkbox]:checked ~ nav > ul {
    display: block;
  }

  p {
    font-size: 1rem;
    padding: 15px;
    color: $body-text;
    letter-spacing: 1px;
  }

  .image-single, .image-pair {
    display: block;
    margin: 0;
    img {
      width: 100vw;
      padding: 0;
    }
    p {
      width: 100vw;
      padding: 10px;
      font-size: .7rem;
    }
  }

  blockquote {
    margin: 0;
    p {
      display: block;
      width: 300px;
      margin: 0 auto;
      padding: 10px;
      font-size: .9rem;
      font-style: italic;
      font-weight: 100;
      line-height: 1.4;
    }
  }

  form {
    width: 375px;
  }
}
