/* Main Navigation */

#checkbox-toggle,
#btn-menu {
  display: none;
}

nav {
  margin: 0 auto;
  padding: 20px 0;
  background-color: $nav-background;
  border-bottom: 1px solid lightgray;

  ul {
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, 180px));
    grid-gap: 0;
    justify-content: center;
    text-align: center;
  }

  li {
    list-style: none;
  }

  .nav-item1 {
    grid-column-start: 2;
  }
  .nav-item4 {
    grid-column-start: 1;
  }
  .nav-item9 {
    grid-column-start: 2;
  }
  .nav-item12 {
    grid-column-start: 3;
  }

  a {
    display: inline-block;
    margin: 0;
    padding: 5px;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    color: $body-text;

    &:hover,
    &:active {
      color: $headline-color;
      font-weight: bold;
    }
    &[aria-current="page"] {
      color: $headline-color;
      font-weight: bold;
    }
  }
}
