/* Main Navigation */

#checkbox-toggle, #btn-menu {
  display: none;
}

nav {
  margin: 20px auto 0 auto;
  background-color: $nav-background;
  border-bottom: 1px solid lightgray;

  ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0 10px;
    text-align: center;
  }

  li {
    list-style: none;
  }

  ul li:first-child {
    grid-row-start: 1;
    grid-row-end: span 2;
    align-self: center;
  }

  a {
  display: inline-block;
  padding: 5px;
  font-size: .9rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  // text-transform: uppercase;
  color: $body-text;

    &:hover, &:active {
      color: $headline-color;
    }

    &.current {
      color: $headline-color;
    }
  }
}
