// Background colors

$body-background: #e1ddd6;
$nav-background: #e1ddd6;
$main-background: #e1ddd6;

// Text

$body-font: 'Roboto', sans-serif;
$fbt-font: 'Cardo', serif;
$headline-color: #A11826;
$footer-text-color: #A11826;
$body-text: black;

// Selected widths

$max-width: 1400px;
$main-width: 800px;
$images-width: 700px;
