// NEW COLORS

$body-background: #e1ddd6;
$nav-background: #e1ddd6;
$main-background: #e1ddd6;

$body-font: 'Roboto', sans-serif;
$body-text: #000;
$body-width: 700px;

$images-width: 700px;
$video-width: 700px;

$fbt-font: 'Cardo', serif;
$headline-color: #A11826;

$footer-text-color: brown;

$max-width: 1400px;
