{#
  Display a slider of images based on the _data/galleries.json file.
  Each image set for each page is organized by fileSlug. See the
  _data/galleries.json file for more information.

#}
<div class="image-gallery">
  <div id="image-slider" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        {%- for item in galleries[page.fileSlug] -%}
          {{ imageGallery(item, page.fileSlug) }}
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
