<header>
  <input type="checkbox" id="checkbox-toggle">
  <label for="checkbox-toggle" id="btn-menu">MENU</label>
  <nav>
    <ul>
    {% for link in site.mainNavLinks %}
      <li class="{{ link.class }}"><a href="{{ link.url }}"{% if page.url == link.url %} aria-current="page"{% endif %}>{{ link.text }}</a></li>
    {% endfor %}
    </ul>
  </nav>
</header>
