{# A set of macros for use across the project #}
{#
  imageSingle - renders a singe image with caption below
#}
{% macro imageSingle(imageRef, imageCaption, noCaption) %}
<div class="image-single">
  <img src="../images/{{ imageRef }}"
       alt="{{ imageCaption }}">
  <p>{{ imageCaption | safe }}</p>
</div>
{% endmacro %}
{#
  imagePair - renders side-by-side images with captions below each image
#}
{%- macro imagePair(imageRef1, imageCaption1, imageRef2, imageCaption2) -%}
<div class="image-pair">
  <div class="image-n-caption">
    <img src="../images/{{ imageRef1 }}"
         class="image-of-pair"
         alt="{{ imageCaption1 }}">
    <p class="caption-of-pair">{{ imageCaption1 | safe }}</p>
  </div>
  <div class="image-n-caption">
    <img src="../images/{{ imageRef2 }}"
          class="image-of-pair"
          alt="{{ imageCaption2 }}">
    <p class="caption-of-pair">{{ imageCaption2 | safe }}</p>
  </div>
</div>
{%- endmacro -%}
