{% macro imageGallery(item, thisPage) %}
<li class="splide__slide">
  <img src="/images/{{ thisPage }}/{{ item.filename }}" alt="{{ item.caption }}">
  <div class="main-slider-caption">
    <p>{{ item.caption | safe }}</p>
  </div>
</li>
{% endmacro %}