<!DOCTYPE html>
<html lang="en">
{% include 'head.njk' %}
<body>
<div class="container">
  {% include 'header.njk' %}
    <main aria-label="Content">
      <h1>Fausto Bellino Tasca</h1>
      {{ content | safe }}
    </main>
  {% include 'footer.njk' %}
</div>
</body>
</html>
